:root {
  --style-font: 'Lobster Two', 'Amita';
  --active-bg-color: #EC9B7D;
  --hover-bg-color: #2c3e50;
}
#welcome-section{
    background: url('https://images.pexels.com/photos/239898/pexels-photo-239898.jpeg?cs=srgb&dl=close-up-code-codes-239898.jpg&fm=jpg');
    height: 100vh;
}
#greeting{
    height:100vh;
    width:100%;
    opacity: 0.9;
    margin: auto;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}
#first{
    font-size: 6vw;
    margin: auto;
}
.title{
    float: left;
    color: #bdc3c7;
    padding: 2px;
    margin: 2px 4px;
    font-size: 28px;
}
#about-info{
    display: none;
}
#projects{
    margin: 0 auto;
    max-width: 95%;
    padding: 0 5px;
}
.project-tile{
    max-width: 100%;
    margin: 2% 1%;
}
.project-img{
    display: block;
    max-width: 100vw;
}
.btn{
  background-color: #bdc3c7;
  color: black;
  font-family: var(--style-font)
}
.btn:hover {
    background-color: var(--hover-bg-color);
    color: #bdc3c7;
}
.btn:active {
    background-color: var(--active-bg-color);
    color: black;
}
/*Navigation Bar Styling*/
#navbar{
    height: auto;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 3;
    font-family: var(--style-font);
    font-weight: bolder;
}
#navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-link{
    float: right;
}
.nav-link a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border: solid black 1px;
    border-right: none;
    color: black;
    font-size: 18px;
}
.nav-link a:last-child {
    border-right: black solid 1px;
}
.nav-link a:hover {
    background-color: var(--hover-bg-color);
    color: #bdc3c7;
}
.nav-link a:active {
    background-color: var(--active-bg-color);
    color: black;
}
#menunav{
    display: none;
}
#t2{
    display: none;
}
/*Responsive Section*/
@media(max-width: 790px){
#navlist{
    display: none;
}
#menunav{
    display: inline-block;
    float:right;
    background-color: #bdc3c7;
    margin: 5px;
    height: auto;
}
#navbar{
    height: auto;
}
.title{
    font-size: 3vw;
}
#t1{
    display: none;
}
#t2{
    display: inline-block;
}
#first{
    font-size: 8vw;
}
}
@media(max-width: 580px){
    .title{
        font-size: 18px;
    }
}
@media(min-width: 750px){
    #projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-tile{
        max-width:30%;
        min-width: 320px;
    }
    .project-img{
        width: 90%;
        height: auto;
        flex-grow: 1;
    }
}
@media(min-width: 900px){
    .project-tile{
        max-width: 27%;
    }
}
