<h4>Blog</h4>
					<ul class="sidenav">
						<!-- Navigation links -->
				<li><a href="mft.html">My First Thoughts</a></li> 
				<li><a href="whyno.html">Why Not Linux?</a></li>
				<li><a href="wil.html">What Is Linux?</a></li> 
				<li><a href="plunge.html">Plunge into the Open</a></li> 
					</ul>
				<h4>Tutorials</h4>
				<ul class="sidenav">
						<!-- Navigation links -->
				<li><a href="echo.html">How To Use The Echo Command In Linux</a></li> 
				<li><a href="daemons.html">SystemD Daemons in Ubuntu 18.04</a></li>
				<li><a href="git.html">Git Web Development Workflow</a></li>
		</ul>

