* {
	box-sizing: border-box;
}
body, html {
	font-family: monospace arial sans-serif;
}
#container {
	text-align: center;
	background-color: slategrey;
}

#content {
	display: grid;
	grid-template-columns: 1fr 2fr 4fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-gap: 3px;
}
#site {
	grid-column: 2 / 4;
	grid-row: 1 / 1;
	text-align: left;
	background-color: #2c2c2c;
	color: #2f6bc5;
	margin: 2px 0;
	padding: 2px 10px;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	max-height: 200px;

}
#pst {
  	grid-column: 3 / 3;
  	grid-row: 2 / 2;
	background-color: #6e6e6e;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 8px #000000;
	margin: 0;
	padding: auto;
	border: 2px #2f6bc5 solid;
}
aside {
	grid-row: 2 / 4;
	grid-column: 2 / 2;
	background-color: silver;
	padding: 5px;
}
article {
 	grid-column: 3 / 3;
 	grid-row: 3 / 3;
	background-color: silver;
	padding: 0 15px;
	min-height: 600px;
}
footer {
	text-align: right;
	background-color: white;

}
@media only screen and (max-width: 700px) {
#site {
	grid-row: 1/1;
	grid-column: 1/5;
	}
aside {
	grid-row: 3/3;
	grid-column: 1/5;
	}

article {
	grid-row: 2/2;
	grid-column: 1/5;
	}

footer {
	grid-row: 4/4;
	grid-column: 1/5;
	}
}

ul.topnav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
	float: left;
	background-color: #2c2c2c;
}
ul.topnav li a {
	text-decoration: none;
	padding: 10px 12px;
	text-align: center;
	height: 30px;
	border: 2px solid white;
}
a:link {
	color: #18C381;
}
a:hover {
	color: white;
	background-color: #18C381;
}
a:visited {
	color: #A75480;
}
ul.sidenav {
	border: 1px solid #555;
	list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
	background-color: #f1f1f1;
}

ul.sidenav li {
    text-align: center;
    border-bottom: 1px solid #555;
}

ul.sidenav li:last-child {
    border-bottom: none;
}
ul.sidenav li a {
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
code {
	word-wrap: break-word;
}
